#sub3{
    width: 100%;
    padding: 5px 0;
    background: rgba(244,244,244);
    .container{
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        background: #fff;
        .content{
            width: 100%;
            .title{
                display: flex;
                width: 100%;
                height: 45px;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid rgba(244,244,244);
                h2{
                    font-size: 15px;
                    font-weight: 700;
                    color: #000;
                    margin: 0 23px 0 0;
                    position: relative;
                    .img{
                        position: absolute;
                        top: 0;
                        right: -23px;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                        .tooltip{
                            top: 29px;
                            left: -120px;
                            width: 271px;
                            height: 112px;
                            position: absolute;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-radius: 6px;
                            padding: 17px;
                            .msg{
                                font-size: 14px;
                                line-height: 20px;
                                color: #929292;
                                em{
                                    color: #59b6c4;
                                    vertical-align: top;
                                    margin: 0 3px;
                                }
                            }
                        }
                        span{
                            position: absolute;
                            top: 15px;
                            left: 0;
                            img{
    
                            }
                        }
                    }
                }
            }
            .cart{
                width: 100%;
                &.on{
                    padding: 202px 0 346px 0;
                }
                .cart-box{
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 42px;
                        height: 44px;
                    }
                    p{
                        width: 100%;
                        margin: 10px 0 0 0;
                        text-align: center;
                        font-size: 18px;
                    }
                    .btn-box{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 15px 0 0 0;
                        button{
                            cursor: pointer;
                            width: 100px;
                            height: 35px;
                            border: 1px solid #e8e8e8;
                            margin: 0 4px;
                            background: #fff;
                            color: #000;
                            &:last-child{
                                background: #000;
                                color: #fff;
                            }
                        }
                    }
                }
                .all-cart-box{
                    width: 100%;
                    .row1{
                        width: 100%;
                        background: #fafafa;
                        padding: 15px 15px 16px 15px;
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        label{
                            input{
                                width: 22px;
                                height: 22px;
                                margin: 0 5px 0 0;
                            }
                        }
                        button{
                            width: 54px;
                            height: 30px;
                            background: #fff;
                            border: 0.8px solid #ddd;
                            border-radius: 5px;
                        }
                    }
                    .row2{
                        width: 100%;
                        padding: 15px 15px 16px 15px;
                        display: flex;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        label{
                            input{
                                width: 22px;
                                height: 22px;
                                margin: 0 5px 0 0;
                            }
                            span{
                                color: #000;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                    .row3-box{
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        border: 1px solid #ddd;
                        .row3{
                            width: 100%;
                            padding: 15px 15px 16px 15px;
                            display: flex;
                            label{
                                img{
                                    width: 60px;
                                    height: 60px;
                                    border: 1px solid #ddd;
                                }
                                input{
                                    width: 22px;
                                    height: 22px;
                                    margin: 0 5px 0 0;
                                }
                                span{
                                    cursor: pointer;
                                    margin: 0 0 0 10px;
                                    color: #333;
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                            }
                        }
                        .row3-2{
                            width: 100%;
                            padding: 10px 11px 0 30px;
                            .info-box{
                                width: 100%;
                                padding: 11px;
                                border: 1px solid #ddd;
                                .btn-box{
                                    width: 100%;
                                    display: flex;
                                    flex-flow: row nowrap;
                                    >button{
                                        width: 53px;
                                        height: 36px;
                                        margin: 0 7px 0 0;
                                        background: #fff;
                                        border: 0.8px solid #ddd;
                                        border-radius: 5px;
                                    }
                                    .cnt-box{
                                        width: 140px;
                                        padding: 0 40px;
                                        height: 36px;
                                        border: 1px solid #ddd;
                                        position: relative;
                                        border-radius: 5px;
                                        display: flex;
                                        align-items: center;
                                        span{
                                            display: block;
                                            width: 100%;
                                            font-size: 14px;
                                            font-weight: 500;
                                            text-align: center;
                                        }
                                        .minus{
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 37px;
                                            height: 36px;
                                            border: 0;
                                            cursor: pointer;
                                            background: url("../../../../public/img/product/minus_off.png") no-repeat 50% 50%;
                                            &.on{
                                                background: url("../../../../public/img/product/minus_on.png") no-repeat 50% 50%;
                                            }
                
                                        }
                                        .plus{
                                            cursor: pointer;
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 37px;
                                            height: 36px;
                                            border: 0;
                                            background: url("../../../../public/img/product/plus_on.png") no-repeat 50% 50%;
                                        }
                                    }
                                    em{
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: end;
                                        font-size: 15px;
                                        color: #000;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                        .row3-3{
                            width: 100%;
                            margin: 10px 11px 10px 30px;
                            padding: 11px;
                            background: #fafafa;
                            border: 1px solid #ddd;
                            li{
                                width: 100%;
                                line-height: 24px;
                                display: flex;
                                justify-content: space-between;
                                .left{
                                    color: #666;
                                    font-size: 15px;
                                    &.on{
                                        color: #333;
                                        font-weight: 600;
                                    }
                                }
                                .right{
                                    font-size: 15px;
                                    &.on{
                                        color: #333;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                    .line{
                        width: 100%;
                        height: 15px;
                        background:rgba(244,244,244);
                    }
                    .row4{
                        width: 100%;
                        margin: 0 0 25px 0;
                        border: 1px solid #ddd;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        li{
                            width: 100%;
                            line-height: 24px;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: space-between;
                            .left{
                                width: 50%;
                                padding: 0 0 0 20px;
                                color: #666;
                                font-size: 21px;
                                &.on{
                                    color: #333;
                                    font-weight: 600;
                                }
                            }
                            .right{
                                width: 50%;
                                padding: 0 30px 0 0;
                                font-size: 18px;
                                text-align: end;
                                &.on{
                                    color: #4684e9;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .order{
                        width: 100%;
                        height: 60px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #feeb00;
                        border: 1px solid #feeb00;
                        cursor: pointer;
                        h2{
                            width: 100%;
                            text-align: center;
                            font-weight: 600;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
